<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByyY7qkpFbAxtT8qJ_v6W_EKRr9b3vh9o</string>
	<key>GCM_SENDER_ID</key>
	<string>821371753102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkease</string>
	<key>PROJECT_ID</key>
	<string>projectchk-46b99</string>
	<key>STORAGE_BUCKET</key>
	<string>projectchk-46b99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821371753102:ios:bf64acd770ac7d7e74afdf</string>
	<key>DATABASE_URL</key>
	<string>https://projectchk-46b99-default-rtdb.firebaseio.com</string>
</dict>
</plist>